<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create a board</title>
</head>
<body>
  <div class="mainCreateBoard">
    <div class="createBoardBox">
      <h2>Create a board</h2>
      <div class="newBoardsName">
        <label for="newBoardsname">New board's name : </label><br/>
        <input type="text" name="newBoardName" autofocus />
      </div>
      <div class="buttonsCreateBoardPage">
        <input type="button" name="cancel" value="Cancel"/>
        <input type="button" name="Save" value="Save"/>
      </div>
    </div>
  </div>
</body>
</html>
