
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="../Assets/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="container">

    <form action="index.php?action=getLoginUser" method="post" onsubmit="return checkLogInForm(this)">
      <h1>Login</h1>
      <h2>Email Address</h2>
    <input type="text" name="email" placeholder="example@email.com" onblur="checkEmail(this)">
      <h2>Password</h2>
    <input type="password" name="password">
    <input type="submit" name="valider">
    </form>
  </div>
  <script type="text/javascript" src="../Assets/js/app.js"></script>
  </body>
    </html>
