<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="../Assets/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="dark">
      <form  action="index.php?action=getRegisterUser" method="post" >
        <h1>Register</h1>
         <h2>Your Name</h2>
      <input type="text" name="yourname" onblur="checkName(this)" autofocus>
        <h2>Email Address</h2>
    <input type="text" name="email" onblur="checkEmail(this)" placeholder="example@email.com">
        <h2>Password</h2>
    <input type="password" name="password" onblur="checkPass(this)">
        <h2>confirm password</h2>
    <input type="password" name="mdp2" onblur="checkMatchPass('password1', 'password2')">
    <input type="submit" name="valider" class="tutu">
      </form>
    </div>
    <script type="text/javascript" src="../Assets/js/app.js"></script>
  </body>
    </html>
